.edit-product-image-form {
  width: 500px;
  padding: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.edit-product-image-title {
  margin-bottom: 20px;
  font-size: 25px;
}

.edit-product-image-form .upload-buttons {
  width: 35px;
  height: 11px;
}

.edit-product-image-form .cancel-button {
  width: 35px;
  height: 11px;
}
