.profile-page {
  max-width: 1280px;
  margin: 0 auto;
}

.profile-page-container {
  width: 1000px;
  margin: 50px auto 0;
  display: flex;
  gap: 250px;
}

.profile-page-left-side {
  width: 300px;
}

.profile-page-avatar {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 50px;
}

.profile-page-button {
  height: 45px;
}

.profile-page-button:active {
  opacity: 0.7;
}

.profile-page-right-side {
  width: 100%;
  margin-top: 25px;
}

.profile-page-information {
  margin-bottom: 50px;
}

.profile-page-information h2 {
  opacity: 0.6;
}