.shipping-form {
  width: 350px;
  margin: 20px auto 0;
  padding: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.shipping-form a {
  color: #fea736;
  opacity: 0.5;
  font-size: 13px;
}

.shipping-title {
  margin-bottom: 20px;
  font-size: 35px;
}

.shipping-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.shipping-form input {
  display: block;
  text-indent: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(216, 216, 216, 1);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 20px;
}

.shipping-button {
  width: 100%;
  height: 50px;
  background-color: #fea736;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.country-dropdown .p-dropdown-label {
  font-size: 0.705rem;
  padding: 0.55625rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.6rem 1rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-dropdown-item-label {
  font-size: small;
}